/*
    style.css

    Fixed top navbar example for Bootstrap
    https://getbootstrap.com/docs/4.0/examples/navbar-top-fixed/

    and Blockly.css
*/


/*---------------------------------
	LAYOUT
-----------------------------------*/
body {
  min-height: 75rem;
  padding-top: 3.4rem;
}

/*---------------------------------
	Blockly
-----------------------------------*/
table {
    padding-top: 55px;
    margin: 30px 10px 0px 10px;
    height: 95%;
    width: 98%;
}

#canvasArea {
    bgcolor: "#eeeeee";
    padding-top:0;
    vertical-align: top;
}

#blocklyArea {
    margin:0;
    padding:0;
    border:0;
    height: 99%;
    vertical-align: top;
}
