/*
    style.css

    Fixed top navbar example for Bootstrap
    https://getbootstrap.com/docs/4.0/examples/navbar-top-fixed/

    and Blockly.css
*/


/*---------------------------------
	LAYOUT
-----------------------------------*/
body {
  min-height: 75rem;
  padding-top: 3.4rem;
}

/*---------------------------------
	PRE & CODE
-----------------------------------*/
code{
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size:0.9em;
    border:1px solid lightblue;
    padding:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    color:#518BAB;
}

pre{
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    margin: 1 0 0 0;
    background:#fff;
    padding:10px;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size:0.9em;
}

/*---------------------------------
	Blockly
-----------------------------------*/
table {
    padding-top: 55px;
    margin: 30px 10px 0px 10px;
    height: 95%;
    width: 98%;
}

#canvasArea {
    bgcolor: "#eeeeee";
    padding-top:0;
    vertical-align: top;
}

#blocklyArea {
    margin:0;
    padding:0;
    border:0;
    height: 99%;
    vertical-align: top;
}
